.cartButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: var(--transition);
}

.cartIcon {
  width: 23px;
  height: 23px;
  object-fit: contain;
  transition: var(--transition);
  filter: var(--icon-filter-gray);
}

.cartButton:hover .cartIcon {
  filter: var(--icon-filter-orange);
}
