.mainPage {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-light);
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1024px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}
